{% extends 'MinishopBackendBundle::backend_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/minishopbackend/css/admin_product_index.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body -%}
<div class="row">
    <div class="col-md-12">
    <h1>Product list</h1>

    <table class="records_list table" id="product_table_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.brand }}</td>
                <td>{{ entity.description | length>30 ? entity.description|slice(0,30) ~ '...' : entity.description }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.category.name }}</td>
                <td><a href="{{ path('admin_product_edit', { 'id': entity.id }) }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="new_product_form">
        <div class="">
            <a href="#" class="btn btn-primary" id="create_new_button" onclick="loadNewProductForm()">
                Create a new product
            </a>
        </div>
        <div class="" id="product_form" style="display:block;">
            <div class="col-sm-12 form-title"><h2>New Product</h2></div>

            <form class="form-horizontal" action="#" method="post" onsubmit="createProduct(); return false;" {{ form_enctype(form) }}>
                <div class="error">{{ form_errors(form) }}</div>
                <div class="form-group">
                    {{ form_label(form.name, 'Name:', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.brand, 'Brand:', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.description, 'Description:', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.price, 'Price:', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.category, 'Category:', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {#<label class="col-sm-2 control-label" for="cateory">Category:</label>#}
                    <div class="col-sm-10">
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                        {#<button name="form[submit]" type="submit" class="btn btn-primary">Save</button>#}
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <button type="button" class="btn btn-default" onclick="closeProductForm();">Cancle</button>
                        {{ form_rest(form) }}

                    </div>
                </div>
            </form>
        </div>
    </div>
        </div>
    </div>
    <script type="text/javascript">
        var loadNewProductForm = function() {
            $('#product_form').slideDown(500);
            return false;
        };

        var closeProductForm = function() {
            $('#product_form').slideUp(500);
        };

        var createProduct = function() {
            var form_var = $('#product_form form');
            var url = "{{ path('admin_product_create') }}";
            var createUrl = form_var.attr('action');
            var form_method = form_var.attr('method');
            var form_data = form_var.serialize();

            console.log(form_data);
            $.ajax({
                url: url,
                type: form_method,
                data: form_data,
                dataType: 'json',
                beforeSend: function() {
                    $('#loading').removeClass('hide');
                },
                success: function(data) {
                    $('#loading').addClass('hide');
                    console.log(data);
                    $('#product_table_list').append('<tr><td>' + data.id + '</td><td>' + data.name + '</td><td>' + data.brand + '</td><td>' + data.description + '</td><td>' + data.price + '</td><td>' + data.category + '</td></tr>');
                    return false;
                },
                error: function(e) {
                    console.log(e);
                }
            });
            return false;
        };
    </script>
    {% endblock %}